.sidebar {
  width: max(2%, 190px);
  height: 100vh;

  h1 {
    color: inherit;
  }

  .navbar-nav {
    gap: 1.4rem;
  }

  &-item {
    font-size: 20px;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    transition: 150ms;
    &:hover {
      color: inherit;
      background-color: hsla(241, 100%, 50%, 50%);
    }
    + .active-item {
      color: inherit;
      outline: 1px solid black;
    }
  }
}
