.sidebar {
  width: max(2%, 190px);
  height: 100vh;
  padding: 0 0.4rem;

  h1 {
    color: inherit;
  }

  .navbar-nav {
    gap: 1.4rem;
  }

  &-item {
    padding: 0.75rem;
    font-size: 20px;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    transition: 150ms;
    &:hover {
      color: inherit;
      background-color: rgba(173, 173, 173, 0.685);
    }
    + .active-item {
      color: inherit;
      outline: 1px solid black;
    }
  }
}
