*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html,
body,
#root,
.page {
  width: 100vw;
  height: 100vh;
}

// by default all index pages occupy as much space as possible
.page > * > .index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

